In [1]:
import pandas as pd
import numpy as np
import os
import pickle

print("\n" + "="*80)
print(" "*25 + "AGRISHIELD DATA PREPROCESSING")
print(" "*28 + "Real Datasets - 2025")
print("="*80 + "\n")

# ============================================================================
# STEP 1: LOAD RAW DATASETS
# ============================================================================

print("üì• STEP 1: LOADING RAW DATASETS")
print("-"*80)

# 1. CROP PRODUCTION DATA
try:
    crop_df = pd.read_csv('../data/raw/crop_production.csv')
    print(f"‚úÖ Crop Data: {crop_df.shape}")
    print(f"   Columns: {list(crop_df.columns)}")
except Exception as e:
    print(f"‚ùå Error loading crop data: {e}")
    exit()

# 2. WEATHER DATA (Rainfall)
try:
    weather_df = pd.read_csv('../data/raw/weather_data.csv')
    print(f"‚úÖ Weather Data: {weather_df.shape}")
    print(f"   Columns: {list(weather_df.columns)}")
except Exception as e:
    print(f"‚ùå Error loading weather data: {e}")
    exit()

# 3. DISASTER DATA
try:
    disaster_df = pd.read_csv('../data/raw/disaster_data.csv')
    print(f"‚úÖ Disaster Data: {disaster_df.shape}")
    print(f"   Columns: {list(disaster_df.columns)}")
except Exception as e:
    print(f"‚ùå Error loading disaster data: {e}")
    exit()

# 4. SOIL DATA
try:
    soil_df = pd.read_csv('../data/raw/soil_data.csv')
    print(f"‚úÖ Soil Data: {soil_df.shape}")
    print(f"   Columns: {list(soil_df.columns)}")
except Exception as e:
    print(f"‚ùå Error loading soil data: {e}")
    exit()

================================================================================
                         AGRISHIELD DATA PREPROCESSING
                            Real Datasets - 2025
================================================================================

üì• STEP 1: LOADING RAW DATASETS
--------------------------------------------------------------------------------
‚úÖ Crop Data: (19689, 10)
   Columns: ['Crop', 'Crop_Year', 'Season', 'State', 'Area', 'Production', 'Annual_Rainfall', 'Fertilizer', 'Pesticide', 'Yield']
‚úÖ Weather Data: (641, 19)
   Columns: ['STATE_UT_NAME', 'DISTRICT', 'JAN', 'FEB', 'MAR', 'APR', 'MAY', 'JUN', 'JUL', 'AUG', 'SEP', 'OCT', 'NOV', 'DEC', 'ANNUAL', 'Jan-Feb', 'Mar-May', 'Jun-Sep', 'Oct-Dec']
‚úÖ Disaster Data: (16126, 45)
   Columns: ['Year', 'Seq', 'Glide', 'Disaster Group', 'Disaster Subgroup', 'Disaster Type', 'Disaster Subtype', 'Disaster Subsubtype', 'Event Name', 'Country', 'ISO', 'Region', 'Continent', 'Location', 'Origin', 'Associated Dis', 'Associated Dis2', 'OFDA Response', 'Appeal', 'Declaration', 'Aid Contribution', 'Dis Mag Value', 'Dis Mag Scale', 'Latitude', 'Longitude', 'Local Time', 'River Basin', 'Start Year', 'Start Month', 'Start Day', 'End Year', 'End Month', 'End Day', 'Total Deaths', 'No Injured', 'No Affected', 'No Homeless', 'Total Affected', "Insured Damages ('000 US$)", "Total Damages ('000 US$)", 'CPI', 'Adm Level', 'Admin1 Code', 'Admin2 Code', 'Geo Locations']
‚úÖ Soil Data: (2200, 8)
   Columns: ['N', 'P', 'K', 'temperature', 'humidity', 'ph', 'rainfall', 'label']

In [5]:
# ============================================================================
# STEP 2: CLEAN CROP PRODUCTION DATA
# ============================================================================

print("\nüßπ STEP 2: CLEANING CROP PRODUCTION DATA")
print("-"*80)

# Rename columns to standard format
crop_df.columns = crop_df.columns.str.strip()
crop_df.rename(columns={
    'Crop_Year': 'Year',
    'State': 'State',
    'Crop': 'Crop',
    'Season': 'Season',
    'Area': 'Area',
    'Production': 'Production',
    'Yield': 'Yield'
}, inplace=True)

print(f"Original shape: {crop_df.shape}")

# Remove missing values
crop_df = crop_df.dropna(subset=['State', 'Crop', 'Season', 'Year'])

# Convert to numeric
crop_df['Production'] = pd.to_numeric(crop_df['Production'], errors='coerce').fillna(0)
crop_df['Area'] = pd.to_numeric(crop_df['Area'], errors='coerce').fillna(0)
crop_df['Year'] = pd.to_numeric(crop_df['Year'], errors='coerce')
crop_df['Yield'] = pd.to_numeric(crop_df['Yield'], errors='coerce')

# Remove zero/negative yields
crop_df = crop_df[crop_df['Yield'] > 0]

# Remove outliers (top 0.5%)
crop_df = crop_df[crop_df['Yield'] < crop_df.groupby('Crop')['Yield'].transform(lambda x: x.quantile(0.995))]

# Standardize text fields
crop_df['State'] = crop_df['State'].str.strip().str.title()
crop_df['Crop'] = crop_df['Crop'].str.strip().str.title()
crop_df['Season'] = crop_df['Season'].str.strip().str.title()

# Add District column (since original doesn't have it, we'll use State as district for now)
crop_df['District'] = crop_df['State']

print(f"‚úÖ Cleaned shape: {crop_df.shape}")
print(f"   Years: {int(crop_df['Year'].min())} - {int(crop_df['Year'].max())}")
print(f"   Crops: {crop_df['Crop'].nunique()}")
print(f"   States: {crop_df['State'].nunique()}")

print("\nüìä Top 10 Crops:")
print(crop_df['Crop'].value_counts().head(10))

print("\nüìä Seasons:")
print(crop_df['Season'].value_counts())

crop_df.head()

üßπ STEP 2: CLEANING CROP PRODUCTION DATA
--------------------------------------------------------------------------------
Original shape: (19689, 10)
‚úÖ Cleaned shape: (19437, 11)
   Years: 1997 - 2020
   Crops: 55
   States: 30

üìä Top 10 Crops:
Crop
Rice                 1191
Maize                 969
Moong(Green Gram)     730
Urad                  726
Groundnut             721
Sesamum               680
Potato                623
Sugarcane             601
Wheat                 540
Rapeseed &Mustard     525
Name: count, dtype: int64

üìä Seasons:
Season
Kharif        8125
Rabi          5695
Whole Year    3629
Summer        1187
Autumn         413
Winter         388
Name: count, dtype: int64

,Crop,Year,Season,State,Area,Production,Annual_Rainfall,Fertilizer,Pesticide,Yield,District
0,Arecanut,1997,Whole Year,Assam,73814.0,56708,2051.4,7024878.38,22882.34,0.796087,Assam
1,Arhar/Tur,1997,Kharif,Assam,6637.0,4685,2051.4,631643.29,2057.47,0.710435,Assam
2,Castor Seed,1997,Kharif,Assam,796.0,22,2051.4,75755.32,246.76,0.238333,Assam
3,Coconut,1997,Whole Year,Assam,19656.0,126905000,2051.4,1870661.52,6093.36,5238.051739,Assam
4,Cotton(Lint),1997,Kharif,Assam,1739.0,794,2051.4,165500.63,539.09,0.420909,Assam

In [13]:
# ============================================================================
# STEP 3: PROCESS WEATHER DATA
# ============================================================================

print("\n‚òÅÔ∏è  STEP 3: PROCESSING WEATHER DATA")
print("-"*80)

# Clean column names
weather_df.columns = weather_df.columns.str.strip()

# Rename columns
weather_df.rename(columns={
    'STATE_UT_NAME': 'State',
    'DISTRICT': 'District'
}, inplace=True)

print(f"Weather data shape: {weather_df.shape}")
print(f"States in weather data: {weather_df['State'].nunique()}")

# Calculate seasonal rainfall
weather_df['Kharif_Rainfall'] = weather_df[['JUN', 'JUL', 'AUG', 'SEP', 'OCT']].sum(axis=1)
weather_df['Rabi_Rainfall'] = weather_df[['NOV', 'DEC', 'JAN', 'FEB', 'MAR']].sum(axis=1)
weather_df['Summer_Rainfall'] = weather_df[['APR', 'MAY', 'JUN']].sum(axis=1)
weather_df['Annual_Rainfall'] = weather_df['ANNUAL']

# Standardize state names
weather_df['State'] = weather_df['State'].str.strip().str.title()

# Create a mapping of state to average rainfall by season
weather_mapping = []

for state in weather_df['State'].unique():
    state_data = weather_df[weather_df['State'] == state]
    
    # Average across all districts in the state
    kharif_avg = state_data['Kharif_Rainfall'].mean()
    rabi_avg = state_data['Rabi_Rainfall'].mean()
    summer_avg = state_data['Summer_Rainfall'].mean()
    annual_avg = state_data['Annual_Rainfall'].mean()
    
    weather_mapping.append({
        'State': state,
        'Season': 'Kharif',
        'Total_Rainfall': kharif_avg,
        'Avg_Temperature': 28,
        'Avg_Humidity': 78
    })
    
    weather_mapping.append({
        'State': state,
        'Season': 'Rabi',
        'Total_Rainfall': rabi_avg,
        'Avg_Temperature': 20,
        'Avg_Humidity': 65
    })
    
    weather_mapping.append({
        'State': state,
        'Season': 'Summer',
        'Total_Rainfall': summer_avg,
        'Avg_Temperature': 35,
        'Avg_Humidity': 60
    })
    
    weather_mapping.append({
        'State': state,
        'Season': 'Whole Year',
        'Total_Rainfall': annual_avg,
        'Avg_Temperature': 27,
        'Avg_Humidity': 70
    })

weather_processed = pd.DataFrame(weather_mapping)

print(f"‚úÖ Weather records created: {len(weather_processed)}")
print(f"   States covered: {weather_processed['State'].nunique()}")

weather_processed.head(10)

‚òÅÔ∏è  STEP 3: PROCESSING WEATHER DATA
--------------------------------------------------------------------------------
Weather data shape: (641, 23)
States in weather data: 35
‚úÖ Weather records created: 140
   States covered: 35

,State,Season,Total_Rainfall,Avg_Temperature,Avg_Humidity
0,Andaman And Nicobar Islands,Kharif,1917.366667,28,78
1,Andaman And Nicobar Islands,Rabi,548.233333,20,65
2,Andaman And Nicobar Islands,Summer,864.466667,35,60
3,Andaman And Nicobar Islands,Whole Year,2911.400000,27,70
4,Arunachal Pradesh,Kharif,1960.806250,28,78
5,Arunachal Pradesh,Rabi,391.143750,20,65
6,Arunachal Pradesh,Summer,1066.806250,35,60
7,Arunachal Pradesh,Whole Year,2927.375000,27,70
8,Assam,Kharif,1777.648148,28,78
9,Assam,Rabi,161.574074,20,65

In [9]:
# ============================================================================
# STEP 4: PROCESS DISASTER DATA
# ============================================================================

print("\nüå™Ô∏è  STEP 4: PROCESSING DISASTER DATA")
print("-"*80)

# Filter for India only
disaster_df_india = disaster_df[disaster_df['Country'].str.contains('India', case=False, na=False)].copy()
print(f"‚úÖ Filtered for India: {len(disaster_df_india)} records")

# Clean columns
disaster_df_india['Year'] = pd.to_numeric(disaster_df_india['Start Year'], errors='coerce')
disaster_df_india['Disaster_Type'] = disaster_df_india['Disaster Type'].str.strip().str.title()

# Keep only major disaster types
major_disasters = ['Flood', 'Drought', 'Storm', 'Earthquake', 'Epidemic']
disaster_df_india = disaster_df_india[disaster_df_india['Disaster_Type'].isin(major_disasters)]

# Map storms to cyclones
disaster_df_india['Disaster_Type'] = disaster_df_india['Disaster_Type'].replace('Storm', 'Cyclone')

# Extract state from Location
disaster_df_india['State'] = disaster_df_india['Location'].str.extract(r'([A-Za-z\s]+)', expand=False).str.strip().str.title()

# Assign severity based on deaths and affected
def assign_severity(row):
    deaths = pd.to_numeric(row.get('Total Deaths', 0), errors='coerce')
    affected = pd.to_numeric(row.get('Total Affected', 0), errors='coerce')
    
    if pd.isna(deaths):
        deaths = 0
    if pd.isna(affected):
        affected = 0
    
    if deaths > 100 or affected > 100000:
        return 'High'
    elif deaths > 10 or affected > 10000:
        return 'Medium'
    else:
        return 'Low'

disaster_df_india['Severity'] = disaster_df_india.apply(assign_severity, axis=1)

# Keep only necessary columns
disaster_processed = disaster_df_india[['State', 'Year', 'Disaster_Type', 'Severity']].dropna(subset=['State', 'Year'])

# Standardize state names
disaster_processed['State'] = disaster_processed['State'].str.strip().str.title()

# Remove duplicates (keep one disaster per state-year-type)
disaster_processed = disaster_processed.drop_duplicates(subset=['State', 'Year', 'Disaster_Type'])

print(f"‚úÖ Disaster records: {len(disaster_processed)}")
print(f"\nüìä Disaster Types:")
print(disaster_processed['Disaster_Type'].value_counts())
print(f"\nüìä Severity Distribution:")
print(disaster_processed['Severity'].value_counts())

disaster_processed.head(10)

üå™Ô∏è  STEP 4: PROCESSING DISASTER DATA
--------------------------------------------------------------------------------
‚úÖ Filtered for India: 752 records
‚úÖ Disaster records: 563

üìä Disaster Types:
Disaster_Type
Flood         276
Cyclone       187
Epidemic       58
Earthquake     27
Drought        15
Name: count, dtype: int64

üìä Severity Distribution:
Severity
High      270
Medium    243
Low        50
Name: count, dtype: int64

               State  Year Disaster_Type Severity
1             Bengal  1900       Drought     High
9             Kangra  1905    Earthquake     High
41         Cuddalore  1916       Cyclone     High
72   Punjab Province  1924       Cyclone     High
76           Bezwada  1925       Cyclone   Medium
85            Bengal  1926         Flood      Low
91           Gujarat  1927       Cyclone   Medium
92           Nellore  1927       Cyclone     High
131           Guntur  1936       Cyclone     High
145         Calcutta  1942       Drought     High

In [15]:
# ============================================================================
# STEP 5: PROCESS SOIL DATA
# ============================================================================

print("\nüå± STEP 5: GENERATING SOIL DATA")
print("-"*80)

state_soil_quality = {
    'Punjab': {'type': 'Alluvial', 'quality': 0.88},
    'Haryana': {'type': 'Alluvial', 'quality': 0.85},
    'Uttar Pradesh': {'type': 'Alluvial', 'quality': 0.82},
    'Bihar': {'type': 'Alluvial', 'quality': 0.80},
    'West Bengal': {'type': 'Alluvial', 'quality': 0.79},
    'Assam': {'type': 'Alluvial', 'quality': 0.75},
    'Maharashtra': {'type': 'Black', 'quality': 0.76},
    'Madhya Pradesh': {'type': 'Black', 'quality': 0.74},
    'Gujarat': {'type': 'Black', 'quality': 0.73},
    'Rajasthan': {'type': 'Arid', 'quality': 0.62},
    'Karnataka': {'type': 'Red', 'quality': 0.70},
    'Tamil Nadu': {'type': 'Red', 'quality': 0.68},
    'Andhra Pradesh': {'type': 'Red', 'quality': 0.69},
    'Telangana': {'type': 'Red', 'quality': 0.68},
    'Kerala': {'type': 'Laterite', 'quality': 0.64},
    'Odisha': {'type': 'Red', 'quality': 0.67},
    'Chhattisgarh': {'type': 'Red', 'quality': 0.67},
    'Jharkhand': {'type': 'Red', 'quality': 0.66},
    'Goa': {'type': 'Laterite', 'quality': 0.63},
    'Himachal Pradesh': {'type': 'Mountain', 'quality': 0.72},
    'Uttarakhand': {'type': 'Mountain', 'quality': 0.71},
    'Jammu And Kashmir': {'type': 'Mountain', 'quality': 0.70}
}

# Create soil records for each state-district combination in crop data
soil_records = []
state_districts = crop_df[['State', 'District']].drop_duplicates()

for _, row in state_districts.iterrows():
    state = row['State']
    district = row['District']
    
    soil_info = state_soil_quality.get(state, {'type': 'Alluvial', 'quality': 0.70})
    
    # Add district-level variation
    quality = np.clip(soil_info['quality'] + np.random.uniform(-0.05, 0.05), 0.50, 0.95)
    
    soil_records.append({
        'State': state,
        'District': district,
        'Soil_Type': soil_info['type'],
        'Soil_Quality_Score': round(quality, 2)
    })

soil_processed = pd.DataFrame(soil_records)

print(f"‚úÖ Soil records created: {len(soil_processed)}")
print(f"\nüìä Soil Types:")
print(soil_processed['Soil_Type'].value_counts())

soil_processed.head(10)

üå± STEP 5: GENERATING SOIL DATA
--------------------------------------------------------------------------------
‚úÖ Soil records created: 30

üìä Soil Types:
Soil_Type
Alluvial    15
Red          7
Black        3
Mountain     3
Laterite     2
Name: count, dtype: int64

            State        District Soil_Type  Soil_Quality_Score
0           Assam           Assam  Alluvial                0.78
1       Karnataka       Karnataka       Red                0.72
2          Kerala          Kerala  Laterite                0.61
3       Meghalaya       Meghalaya  Alluvial                0.66
4     West Bengal     West Bengal  Alluvial                0.76
5      Puducherry      Puducherry  Alluvial                0.74
6             Goa             Goa  Laterite                0.62
7  Andhra Pradesh  Andhra Pradesh       Red                0.64
8      Tamil Nadu      Tamil Nadu       Red                0.66
9          Odisha          Odisha       Red                0.65

In [17]:
# ============================================================================
# STEP 6: MERGE ALL DATASETS
# ============================================================================

print("\nüîó STEP 6: MERGING ALL DATASETS")
print("-"*80)

print(f"Starting with crop data: {crop_df.shape}")

# Merge with weather (by State and Season only, since weather doesn't have years)
merged = pd.merge(
    crop_df,
    weather_processed,
    on=['State', 'Season'],
    how='left'
)
print(f"‚úÖ After weather merge: {merged.shape}")

# Merge with soil (by State and District)
merged = pd.merge(
    merged,
    soil_processed,
    on=['State', 'District'],
    how='left'
)
print(f"‚úÖ After soil merge: {merged.shape}")

# Merge with disasters (by State and Year)
merged = pd.merge(
    merged,
    disaster_processed[['State', 'Year', 'Disaster_Type', 'Severity']],
    on=['State', 'Year'],
    how='left'
)
print(f"‚úÖ After disaster merge: {merged.shape}")

print(f"\nüìä Merged dataset columns:")
print(merged.columns.tolist())

merged.head()

üîó STEP 6: MERGING ALL DATASETS
--------------------------------------------------------------------------------
Starting with crop data: (19437, 11)
‚úÖ After weather merge: (19437, 14)
‚úÖ After soil merge: (19437, 16)
‚úÖ After disaster merge: (19625, 18)

üìä Merged dataset columns:
['Crop', 'Year', 'Season', 'State', 'Area', 'Production', 'Annual_Rainfall', 'Fertilizer', 'Pesticide', 'Yield', 'District', 'Total_Rainfall', 'Avg_Temperature', 'Avg_Humidity', 'Soil_Type', 'Soil_Quality_Score', 'Disaster_Type', 'Severity']

,Crop,Year,Season,State,Area,Production,Annual_Rainfall,Fertilizer,Pesticide,Yield,District,Total_Rainfall,Avg_Temperature,Avg_Humidity,Soil_Type,Soil_Quality_Score,Disaster_Type,Severity
0,Arecanut,1997,Whole Year,Assam,73814.0,56708,2051.4,7024878.38,22882.34,0.796087,Assam,2454.359259,27.0,70.0,Alluvial,0.78,NaN,NaN
1,Arhar/Tur,1997,Kharif,Assam,6637.0,4685,2051.4,631643.29,2057.47,0.710435,Assam,1777.648148,28.0,78.0,Alluvial,0.78,NaN,NaN
2,Castor Seed,1997,Kharif,Assam,796.0,22,2051.4,75755.32,246.76,0.238333,Assam,1777.648148,28.0,78.0,Alluvial,0.78,NaN,NaN
3,Coconut,1997,Whole Year,Assam,19656.0,126905000,2051.4,1870661.52,6093.36,5238.051739,Assam,2454.359259,27.0,70.0,Alluvial,0.78,NaN,NaN
4,Cotton(Lint),1997,Kharif,Assam,1739.0,794,2051.4,165500.63,539.09,0.420909,Assam,1777.648148,28.0,78.0,Alluvial,0.78,NaN,NaN

In [19]:
# ============================================================================
# STEP 7: FEATURE ENGINEERING
# ============================================================================

print("\n‚öôÔ∏è  STEP 7: FEATURE ENGINEERING")
print("-"*80)

# Fill missing weather values with state-season averages
for col in ['Total_Rainfall', 'Avg_Temperature', 'Avg_Humidity']:
    if col in merged.columns:
        merged[col] = merged.groupby(['State', 'Season'])[col].transform(
            lambda x: x.fillna(x.mean())
        )

# Fill remaining NaN in Soil_Quality_Score with state average
merged['Soil_Quality_Score'] = merged.groupby('State')['Soil_Quality_Score'].transform(
    lambda x: x.fillna(x.mean())
)

# 1. Rainfall deviation from state-season average
merged['State_Season_Avg_Rainfall'] = merged.groupby(['State', 'Season'])['Total_Rainfall'].transform('mean')
merged['Rainfall_Deviation'] = ((merged['Total_Rainfall'] - merged['State_Season_Avg_Rainfall']) / 
                                 (merged['State_Season_Avg_Rainfall'] + 1)) * 100

# 2. Temperature deviation
merged['State_Season_Avg_Temp'] = merged.groupby(['State', 'Season'])['Avg_Temperature'].transform('mean')
merged['Temperature_Deviation'] = ((merged['Avg_Temperature'] - merged['State_Season_Avg_Temp']) / 
                                    (merged['State_Season_Avg_Temp'] + 1)) * 100

# 3. Disaster flags
merged['Disaster_Occurred'] = merged['Disaster_Type'].notna().astype(int)

severity_map = {'Low': 1, 'Medium': 2, 'High': 3}
merged['Severity_Score'] = merged['Severity'].map(severity_map).fillna(0)

# 4. Season encoding
season_map = {
    'Kharif': 1, 'Rabi': 2, 'Summer': 3, 'Zaid': 3,
    'Whole Year': 4, 'Autumn': 5, 'Winter': 6
}
merged['Season_Encoded'] = merged['Season'].map(season_map).fillna(4)

print("‚úÖ Features created:")
print("   - Rainfall_Deviation")
print("   - Temperature_Deviation")
print("   - Disaster_Occurred")
print("   - Severity_Score")
print("   - Season_Encoded")

# Check for any remaining NaN values
print(f"\nüìä Missing values:")
print(merged.isnull().sum()[merged.isnull().sum() > 0])

merged.head()

‚öôÔ∏è  STEP 7: FEATURE ENGINEERING
--------------------------------------------------------------------------------
‚úÖ Features created:
   - Rainfall_Deviation
   - Temperature_Deviation
   - Disaster_Occurred
   - Severity_Score
   - Season_Encoded

üìä Missing values:
Total_Rainfall                4512
Avg_Temperature               4512
Avg_Humidity                  4512
Disaster_Type                16995
Severity                     16995
State_Season_Avg_Rainfall     4512
Rainfall_Deviation            4512
State_Season_Avg_Temp         4512
Temperature_Deviation         4512
dtype: int64

,Crop,Year,Season,State,Area,Production,Annual_Rainfall,Fertilizer,Pesticide,Yield,...,Soil_Quality_Score,Disaster_Type,Severity,State_Season_Avg_Rainfall,Rainfall_Deviation,State_Season_Avg_Temp,Temperature_Deviation,Disaster_Occurred,Severity_Score,Season_Encoded
0,Arecanut,1997,Whole Year,Assam,73814.0,56708,2051.4,7024878.38,22882.34,0.796087,...,0.78,NaN,NaN,2454.359259,0.000000e+00,27.0,0.0,0,0.0,4
1,Arhar/Tur,1997,Kharif,Assam,6637.0,4685,2051.4,631643.29,2057.47,0.710435,...,0.78,NaN,NaN,1777.648148,-1.278351e-14,28.0,0.0,0,0.0,1
2,Castor Seed,1997,Kharif,Assam,796.0,22,2051.4,75755.32,246.76,0.238333,...,0.78,NaN,NaN,1777.648148,-1.278351e-14,28.0,0.0,0,0.0,1
3,Coconut,1997,Whole Year,Assam,19656.0,126905000,2051.4,1870661.52,6093.36,5238.051739,...,0.78,NaN,NaN,2454.359259,0.000000e+00,27.0,0.0,0,0.0,4
4,Cotton(Lint),1997,Kharif,Assam,1739.0,794,2051.4,165500.63,539.09,0.420909,...,0.78,NaN,NaN,1777.648148,-1.278351e-14,28.0,0.0,0,0.0,1

In [21]:
# ============================================================================
# STEP 8: CREATE TARGET VARIABLE
# ============================================================================

print("\nüéØ STEP 8: CREATING TARGET VARIABLE")
print("-"*80)

# Calculate yield percentile by crop
merged['Yield_Percentile'] = merged.groupby('Crop')['Yield'].transform(
    lambda x: x.rank(pct=True)
)

# Bottom 25% = failure
merged['Crop_Failure'] = (merged['Yield_Percentile'] < 0.25).astype(int)

failure_count = merged['Crop_Failure'].sum()
success_count = (merged['Crop_Failure'] == 0).sum()
failure_rate = (failure_count / len(merged)) * 100

print(f"‚úÖ Target created:")
print(f"   Failures: {failure_count:,} ({failure_rate:.2f}%)")
print(f"   Success: {success_count:,} ({100-failure_rate:.2f}%)")

print(f"\nüìä Failure distribution by crop (top 10):")
failure_by_crop = merged.groupby('Crop')['Crop_Failure'].agg(['sum', 'count', 'mean'])
failure_by_crop['failure_rate'] = failure_by_crop['mean'] * 100
failure_by_crop = failure_by_crop.sort_values('sum', ascending=False).head(10)
print(failure_by_crop[['sum', 'count', 'failure_rate']])

merged[['Crop', 'State', 'Year', 'Season', 'Yield', 'Crop_Failure']].head(10)

üéØ STEP 8: CREATING TARGET VARIABLE
--------------------------------------------------------------------------------
‚úÖ Target created:
   Failures: 4,870 (24.82%)
   Success: 14,755 (75.18%)

üìä Failure distribution by crop (top 10):
                   sum  count  failure_rate
Crop
Rice               300   1203     24.937656
Maize              244    980     24.897959
Moong(Green Gram)  184    738     24.932249
Urad               183    733     24.965894
Groundnut          181    726     24.931129
Sesamum            171    686     24.927114
Potato             155    626     24.760383
Sugarcane          151    606     24.917492
Wheat              136    545     24.954128
Rapeseed &Mustard  132    529     24.952741

           Crop  State  Year      Season        Yield  Crop_Failure
0      Arecanut  Assam  1997  Whole Year     0.796087             1
1     Arhar/Tur  Assam  1997      Kharif     0.710435             0
2   Castor Seed  Assam  1997      Kharif     0.238333             1
3       Coconut  Assam  1997  Whole Year  5238.051739             1
4  Cotton(Lint)  Assam  1997      Kharif     0.420909             1
5  Dry Chillies  Assam  1997  Whole Year     0.643636             1
6          Gram  Assam  1997        Rabi     0.465455             1
7          Jute  Assam  1997      Kharif     9.919565             0
8       Linseed  Assam  1997        Rabi     0.461364             0
9         Maize  Assam  1997      Kharif     0.615652             1

In [23]:
# ============================================================================
# STEP 9: FINAL CLEANUP
# ============================================================================

print("\nüßπ STEP 9: FINAL CLEANUP")
print("-"*80)

# Remove rows with critical missing values
critical_cols = [
    'State', 'District', 'Crop', 'Year', 'Season', 'Yield',
    'Total_Rainfall', 'Avg_Temperature', 'Avg_Humidity',
    'Soil_Quality_Score', 'Crop_Failure'
]

print(f"Shape before cleanup: {merged.shape}")
merged_clean = merged.dropna(subset=critical_cols)
print(f"Shape after cleanup: {merged_clean.shape}")

# Remove any duplicate rows
merged_clean = merged_clean.drop_duplicates()
print(f"Shape after removing duplicates: {merged_clean.shape}")

print(f"\n‚úÖ Final dataset ready!")
print(f"   Total records: {len(merged_clean):,}")
print(f"   Years: {int(merged_clean['Year'].min())} - {int(merged_clean['Year'].max())}")
print(f"   States: {merged_clean['State'].nunique()}")
print(f"   Crops: {merged_clean['Crop'].nunique()}")

merged_clean.info()

üßπ STEP 9: FINAL CLEANUP
--------------------------------------------------------------------------------
Shape before cleanup: (19625, 27)
Shape after cleanup: (15113, 27)
Shape after removing duplicates: (15113, 27)

‚úÖ Final dataset ready!
   Total records: 15,113
   Years: 1997 - 2019
   States: 24
   Crops: 55
<class 'pandas.core.frame.DataFrame'>
Index: 15113 entries, 0 to 19624
Data columns (total 27 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Crop                       15113 non-null  object
 1   Year                       15113 non-null  int64
 2   Season                     15113 non-null  object
 3   State                      15113 non-null  object
 4   Area                       15113 non-null  float64
 5   Production                 15113 non-null  int64
 6   Annual_Rainfall            15113 non-null  float64
 7   Fertilizer                 15113 non-null  float64
 8   Pesticide                  15113 non-null  float64
 9   Yield                      15113 non-null  float64
 10  District                   15113 non-null  object
 11  Total_Rainfall             15113 non-null  float64
 12  Avg_Temperature            15113 non-null  float64
 13  Avg_Humidity               15113 non-null  float64
 14  Soil_Type                  15113 non-null  object
 15  Soil_Quality_Score         15113 non-null  float64
 16  Disaster_Type              2372 non-null   object
 17  Severity                   2372 non-null   object
 18  State_Season_Avg_Rainfall  15113 non-null  float64
 19  Rainfall_Deviation         15113 non-null  float64
 20  State_Season_Avg_Temp      15113 non-null  float64
 21  Temperature_Deviation      15113 non-null  float64
 22  Disaster_Occurred          15113 non-null  int32
 23  Severity_Score             15113 non-null  float64
 24  Season_Encoded             15113 non-null  int64
 25  Yield_Percentile           15113 non-null  float64
 26  Crop_Failure               15113 non-null  int32
dtypes: float64(15), int32(2), int64(3), object(7)
memory usage: 3.1+ MB

In [25]:
# ============================================================================
# STEP 10: SAVE PROCESSED DATA
# ============================================================================

print("\nüíæ STEP 10: SAVING PROCESSED DATA")
print("-"*80)

# Create directory if it doesn't exist
os.makedirs('../data/processed', exist_ok=True)

# Save main dataset
output_path = '../data/processed/merged_dataset.csv'
merged_clean.to_csv(output_path, index=False)
print(f"‚úÖ Saved merged dataset: {output_path}")

# Save district information for predictions
district_info = {}
for _, row in merged_clean[['State', 'District', 'Soil_Type', 'Soil_Quality_Score']].drop_duplicates().iterrows():
    key = f"{row['District']}, {row['State']}"
    district_info[key] = {
        'soil_type': row['Soil_Type'],
        'soil_quality': row['Soil_Quality_Score'],
        'state': row['State']
    }

# Create models directory
os.makedirs('../models', exist_ok=True)

# Save district info
with open('../models/district_info.pkl', 'wb') as f:
    pickle.dump(district_info, f)
print(f"‚úÖ Saved district info: ../models/district_info.pkl")

print("\n" + "="*80)
print(" "*30 + "‚úÖ PREPROCESSING COMPLETE!")
print("="*80)

üíæ STEP 10: SAVING PROCESSED DATA
--------------------------------------------------------------------------------
‚úÖ Saved merged dataset: ../data/processed/merged_dataset.csv
‚úÖ Saved district info: ../models/district_info.pkl

================================================================================
                              ‚úÖ PREPROCESSING COMPLETE!
================================================================================

In [27]:
# ============================================================================
# STEP 11: FINAL SUMMARY & VISUALIZATION
# ============================================================================

print("\nüìä FINAL DATASET SUMMARY")
print("="*80)

print(f"\nüåæ TOP 10 CROPS BY RECORDS:")
print(merged_clean['Crop'].value_counts().head(10))

print(f"\nüèõÔ∏è  TOP 10 STATES BY RECORDS:")
print(merged_clean['State'].value_counts().head(10))

print(f"\nüìÖ RECORDS BY YEAR:")
print(merged_clean['Year'].value_counts().sort_index().tail(10))

print(f"\nüéØ CROP FAILURE STATISTICS:")
print(f"   Total Records: {len(merged_clean):,}")
print(f"   Failure Cases: {merged_clean['Crop_Failure'].sum():,}")
print(f"   Success Cases: {(merged_clean['Crop_Failure'] == 0).sum():,}")
print(f"   Failure Rate: {merged_clean['Crop_Failure'].mean()*100:.2f}%")

print("\n‚úÖ READY FOR MODEL TRAINING!")
print("   Next step: Run train_model.ipynb")
print("="*80)

# Display final sample
merged_clean[['Crop', 'State', 'Year', 'Season', 'Yield', 'Crop_Failure', 
              'Total_Rainfall', 'Avg_Temperature', 'Disaster_Occurred']].head(20)

üìä FINAL DATASET SUMMARY
================================================================================

üåæ TOP 10 CROPS BY RECORDS:
Crop
Maize                776
Rice                 722
Moong(Green Gram)    535
Groundnut            534
Urad                 508
Sugarcane            495
Sesamum              477
Potato               459
Wheat                450
Jowar                447
Name: count, dtype: int64

üèõÔ∏è  TOP 10 STATES BY RECORDS:
State
Karnataka         1426
Andhra Pradesh    1333
West Bengal        955
Uttar Pradesh      866
Bihar              861
Madhya Pradesh     839
Gujarat            813
Tamil Nadu         790
Maharashtra        766
Assam              711
Name: count, dtype: int64

üìÖ RECORDS BY YEAR:
Year
2010    655
2011    693
2012    676
2013    693
2014    686
2015    734
2016    767
2017    794
2018    825
2019    767
Name: count, dtype: int64

üéØ CROP FAILURE STATISTICS:
   Total Records: 15,113
   Failure Cases: 3,310
   Success Cases: 11,803
   Failure Rate: 21.90%

‚úÖ READY FOR MODEL TRAINING!
   Next step: Run train_model.ipynb
================================================================================

,Crop,State,Year,Season,Yield,Crop_Failure,Total_Rainfall,Avg_Temperature,Disaster_Occurred
0,Arecanut,Assam,1997,Whole Year,0.796087,1,2454.359259,27.0,0
1,Arhar/Tur,Assam,1997,Kharif,0.710435,0,1777.648148,28.0,0
2,Castor Seed,Assam,1997,Kharif,0.238333,1,1777.648148,28.0,0
3,Coconut,Assam,1997,Whole Year,5238.051739,1,2454.359259,27.0,0
4,Cotton(Lint),Assam,1997,Kharif,0.420909,1,1777.648148,28.0,0
5,Dry Chillies,Assam,1997,Whole Year,0.643636,1,2454.359259,27.0,0
6,Gram,Assam,1997,Rabi,0.465455,1,161.574074,20.0,0
7,Jute,Assam,1997,Kharif,9.919565,0,1777.648148,28.0,0
8,Linseed,Assam,1997,Rabi,0.461364,0,161.574074,20.0,0
9,Maize,Assam,1997,Kharif,0.615652,1,1777.648148,28.0,0
10,Mesta,Assam,1997,Kharif,4.568947,0,1777.648148,28.0,0
11,Niger Seed,Assam,1997,Whole Year,0.482353,0,2454.359259,27.0,0
12,Onion,Assam,1997,Whole Year,2.342609,1,2454.359259,27.0,0
13,Other Rabi Pulses,Assam,1997,Rabi,0.520870,0,161.574074,20.0,0
14,Potato,Assam,1997,Whole Year,7.561304,0,2454.359259,27.0,0
15,Rapeseed &Mustard,Assam,1997,Rabi,0.554783,0,161.574074,20.0,0
17,Rice,Assam,1997,Summer,1.060435,1,980.322222,35.0,0
19,Sesamum,Assam,1997,Whole Year,0.487391,0,2454.359259,27.0,0
20,Small Millets,Assam,1997,Kharif,0.473000,1,1777.648148,28.0,0
21,Sugarcane,Assam,1997,Kharif,41.896957,0,1777.648148,28.0,0